<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <div style="display: flex; flex-direction: column; align-items: center; gap: 30px;" >

        <h1 style="color: black;">Welcome!</h1>
        <div style="display: flex; gap: 50px; justify-content: center;  flex-wrap: wrap;">
            {% for i in range(number) %}
            <div style="width: 200px;height: 200px;background-color:{{thecol}}"></div>
            {% endfor %}
        </div>



    </div>


</body>
</html>